html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Kaisei HarunoUmi', serif;
  font-size: 1.5rem;
  font-weight: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: white;
}

.magazine-container {
  margin: 30px 20px;
  display: grid;
  grid-gap: 10px;
}

/* head navigation*/

header {
  display: grid;
  grid-template-columns: 200px 1fr 300px;
  align-items: stretch;
  align-content: center;
  margin: 0;
}
 
.logo {
 width: 100%;
 height: 100%;
}

.nav-top {
  display: grid;
  grid-template-rows: 1fr;
  padding: 0;
  margin: 0;

}

.nav-top ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  justify-content: start;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.nav-top a {
  padding: 0 5px;
  border-right: 1px solid rgb(75, 75, 75);
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;  
}

.btn-sub {
  color: white;
  background: rgb(4, 4, 97);
  border: 1px solid rgb(66, 65, 65);
  border-radius: 20px;
  font-weight: bold;
  padding: 0 5px;
  border-right: 1px solid rgb(75, 75, 75);
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 20px;
}

.btn-sub:hover {
  text-decoration: none;
  background: rgb(3, 3, 157);
}

.sign-in-btn {
  border-left: 1px solid rgb(4, 4, 97);
  border-right: none !important;
  padding: 0 5px;
  border-right: 1px solid grey;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 20px;
}

.sign-in {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  align-items: center;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;  
}

/*useful links section*/
.link-bar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  font-size: 0.5rem;
  border-bottom: 1px solid grey;
  padding: 10px 0;
}

.link-bar img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.link-bar-item {
  padding: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  align-items: center;
  align-content: center;
}

.item2 {
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}

p {
  padding: 0;
  margin: 0;
}

/*main news section*/
.main-news {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  font-size: 0.5rem;
  grid-gap: 20px;
}

.main-news h1 {
  margin: 0;
  padding: 0;
}

.main img {
  height: 350px;
  padding-right: 15px;
}

.side-news {
  display: grid;
  grid-gap: 10px;
  border:none;
}

.side-news img {
  height: 150px;
}

small {
  display: inline;
  font-size: small;
  color: red;
  padding: 0%;
}


.main {
  border-right: 1px solid grey;
}

.side-2 {
  border-top: 1px solid grey;
}

.line {
  border-left: 1px solid grey;
  padding: 0 10px;
  display: grid;
}

.brief-world {
  padding: 10px;
  display: grid;
  align-content: space-between;
  background: rgba(226, 226, 226, 0.508);
}

.brief-world .heading {
  font-weight: bold;
}

.red-line {
  position: absolute;
  width: 40px;
  height: 5px;
  background: red;
  right: 220px;
}

/* popular articles section */

.articles {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  padding: 20px 0;
}

.articles .article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr 1fr;
  padding: 10px 0;
  border-right: 1px solid grey  ;
}

.articles .article >* {
  padding: 0;
  margin: 0;
  font-size: 0.5rem;
}
.articles img {
  width: 100%;
  height: 100%;
}

.articles .art-4 {
  border-right: none !important;
}

.articles .art-1, .art-2, .art-3 {
  padding-right: 10px !important;
}

/* magazine cover section */

.magazine-cover {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 50px 30px;
  background: rgba(226, 226, 226, 0.508);
  grid-gap: 60px;
}

.magazine-cover img {
  width: 100%;
  height: 100%;
}

.magazine-cover .magazine-details {
  display: grid;
  grid-template-columns: 1fr;
}

.magazine-cover .magazine-details >*{
  display: block;
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
}

.magazine-cover .magazine-details #date {
  text-transform: uppercase;
  font-size: small;
}

.magazine-cover .magazine-details h1 {
  font-size: 2rem;
  margin: 0;
}

.magazine-cover .magazine-details .highligths {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  border-top: 1px solid grey;
  padding: 10px 0;
}

.magazine-cover .magazine-details .highligths .highlight3, .highlight4 {
  border-top: 1px solid grey;
  padding-top: 10px;
}

.magazine-cover .magazine-details .highligths a{
  font-weight: bold;
}

.magazine-cover .magazine-details .btn {
  font-weight: bolder;
}